.calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-2;
    color: $grey;
    background-color: $white;

    @include from($tablet) {
        transform: translateY(-74px);
    }

    &__header {
        position: sticky;
        display: flex;
        top: 0;
        z-index: 2;
        background-color: $grey-lightest;
        min-width: fit-content;
        padding: 5px 0;

        @include from($tablet) {
            padding: 20px 40px;
        }
    }

    &__content {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
        padding-top: 20px;
        min-width: fit-content;

        @include from($tablet) {
            margin: 0 40px;
        }
    }

    &__header-label {
        flex: 1 1;
        text-align: center;

        @include from($tablet) {
            font-weight: $weight-medium;
        }
    }

    &__header-number {
        color: $grey-dark;
        font-weight: $weight-semibold;
    }

    &__header-label, &__column {
    }

    &__interval {
        height: 80px;
        position: relative;
        border-right: 1px solid $grey-lightest;

        &:not(.calendar__interval--time-scale) {
            border-bottom: 1px solid $grey-lightest;

            &:first-child {
                border-top: 1px solid $grey-lightest;
            }
        }

        &--time-scale {
            padding-left: 5px;
            transform: translateY(-13px); // offset to line up with scale hours
        }
    }

    &__now-marker {
        background-color: $primary;
        height: 1px;

        div {
            @include circle(10px);
            position: absolute;
            transform: translateY(-5px);
            background-color: inherit;
        }
    }

    &__column {
        flex-grow: 1;
        flex-shrink: 1;
    }

    &__time-scale {
        width: 30px;
    }
}
