// Extension of bulmas modal

.modal {
    &.is-fullscreen-mobile {
        .modal-content {
            @include until($tablet) {
                max-height: 100vh;
            }
        }

        .box {
            @include until($tablet) {
                padding-top: 2rem;
                border-radius: 0;
                height: 100vh;
                width: 100vw;
            }
        }
    }
}
