@inherits CalendarColumnBase


<div class="calendar__column" @ref="ColumnEl" @onclick="AddItem">
    @if (events != null)
    {
        @foreach (var item in events)
        {
            var currentItem = item;
            <CalendarEvent @key="currentItem" ClickCallback="@(()=> ShowModal(currentItem))" Item="currentItem"></CalendarEvent>
        }
    }
    @if (Date.Date == DateTime.Today.Date)
    {
        <CalendarNowMarker ForDate="@Date"></CalendarNowMarker>
    }
</div>