@inherits PlannerEventBase

<div class="planner-event" style="height: @CalculateHeight(); top: @CalculateTop()">
    <div class="notification has-cursor-pointer" @onclick="ClickCallback">
        @Item.Description
    </div>
</div>
