.calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-2;
    color: $grey;
    background-color: $white;
    transform: translateY(-74px);
    overflow-x: auto;

    &__header {
        position: sticky;
        display: flex;
        top: 0;
        z-index: 2;
        padding: 20px 40px;
        background-color: $grey-lightest;
        min-width: fit-content;
    }

    &__content {
        display: flex;
        flex-grow: 1;
        margin: 0 40px;
        overflow-y: auto;
        padding-top: 20px;
        min-width: fit-content;
    }

    &__header-label {
        flex: 1;
        text-align: center;
        font-weight: $weight-medium;
        color: $grey-dark;
    }

    &__header-label, &__column {
        min-width: 300px;

        @media screen and (min-width: 500px) {
            min-width: 175px;
        }
    }

    &__interval {
        height: 80px;
        position: relative;
        border-right: 1px solid $grey-lightest;

        &:not(.calendar__interval--time-scale) {
            border-bottom: 1px solid $grey-lightest;

            &:first-child {
                border-top: 1px solid $grey-lightest;
            }
        }

        &--time-scale {
            transform: translateY(-13px); // offset to line up with scale hours
        }
    }

    &__now-marker {
        background-color: $primary;
        height: 1px;

        div {
            @include circle(10px);
            position: absolute;
            transform: translateY(-5px);
            background-color: inherit;
        }
    }

    &__column {
        flex: 1;
    }

    &__time-scale {
        width: 50px;
    }
}
