
.planner-event {
    position: absolute;
    margin: 4px 2px;
    padding: 2px 5px;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    box-shadow: $shadow-1;
    border-radius: $radius;
    
    & > * {
        opacity: 0.85; // soften font
    }
}
