@inherits SheetBase

@if (IsOpen)
{
    <div class="sheet__background" @onclick="Hide"></div>
}
<aside class="@GetCssClasses()" role="menu" @attributes="AdditionalAttributes">
    @if (IsOpen)
    {
        @Body
    }
</aside>