@inherits EventListBase

<div class="box is-flex is-flex-column">
    @if (!string.IsNullOrEmpty(Title))
    {
        <h1 class="is-size-4 title">@Title</h1>
    }
    @foreach (var item in Items.OrderBy(i => i.PlannedActionDate))
    {
        <div class="has-padding-5">
            <span class="label">@item.Description</span>
            <span>@DateTimeHelper.FormatFullDate(item.PlannedActionDate.Value) - @(DateTimeHelper.CalculateLength(item.PlannedActionDate.Value, item.PlannedEndTime.Value)) minutes</span>
        </div>
    }
</div>