@page "/Day"
@inherits DayPlannerBase
@inject PlannerApp.Client.Services.IPlannerItemDataService PlannerItemDataService

<section class="section">

    <main class="day-planner">
        <h1 class="day-planner__title is-size-3-desktop is-size-4-touch">
            Your Schedule For @DateTimeHelper.FormatFullDate(ViewingDate)
        </h1>
        @if (Items == null)
        {
            <LoadingIcon></LoadingIcon>
        }
        else
        {
            @for (var hour = 4; hour <= 20; hour++)
            {
                <div class="day-planner__interval">
                    <div class="day-planner__time-display">@DateTimeHelper.FormatTime(new DateTime(2020, 1, 1, hour, 0, 0))</div>
                    <div class="day-planner__entries">
                        @foreach (var itemInInterval in Items.Where(i => i.PlannedActionDate.Value.Hour >= hour && i.PlannedActionDate.Value.Hour < hour + 1))
                        {
                            <DayPlannerEntry Item="itemInInterval" ClickCallback="() => ShowModal(itemInInterval)"></DayPlannerEntry>
                        }
                    </div>
                </div>
            }
        }
    </main>
</section>
@if (EditingItem != null)
{
    <Modal @ref="ModalRef">
        <ModalBackdrop />
        <ModalContent Class="box" Dialog="false">
            <CloseButton Class="is-pulled-right" Clicked="HideModal"></CloseButton>
            <ModalBody>
                <EditForm Model="EditingItem" OnValidSubmit="EditItem">
                    <Field>
                        <FieldLabel>Description</FieldLabel>
                        <TextEdit @bind-Value="EditingItem.Description" required />
                    </Field>
                    <Fields>
                        <Field>
                            <FieldLabel>From</FieldLabel>
                            <DateInput name="PlannedActionDate" @bind-Value="EditingItem.PlannedActionDate"></DateInput>
                            <ValidationMessage For="@(() => EditingItem.PlannedActionDate)"></ValidationMessage>
                        </Field>
                        <Field>
                            <FieldLabel>Until</FieldLabel>
                            <DateInput name="PlannedEndTime" @bind-Value="EditingItem.PlannedEndTime"></DateInput>
                            <ValidationMessage For="@(() => EditingItem.PlannedEndTime)"></ValidationMessage>
                        </Field>
                    </Fields>
                    <Field>
                        <Button Class="is-pulled-right" Color="Color.Success" Type="ButtonType.Submit" id="saveChangesBtn">Update</Button>
                    </Field>
                </EditForm>
            </ModalBody>
        </ModalContent>
    </Modal>
}