@page "/"

<h1 class="title">@Title</h1>

<EditForm Model="@NewItem">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <Field>
        <ControlContent>
            <InputText class="input is-medium" @bind-Value="NewItem.Description" placeholder="What do you have to do?"></InputText>
        </ControlContent>
    </Field>
    <Field>
        <ControlContent>
            <input class="input is-medium" @bind="NewItem.PlannedActionDate" placeholder="When do you have to do it?">
        </ControlContent>
    </Field>
    <Field>
        <ControlContent>
            <Button Label="Save" CssClasses="is-success"></Button>
        </ControlContent>
    </Field>
</EditForm>

@code {
    public string Title = "Your Planner";
    public PlannerItem NewItem { get; set; } = new PlannerItem();
} 