@inherits CategoryFormBase

<div class="box is-clipped">
    <EditForm Model="Category" OnValidSubmit="SaveForm">
        <UIComponents.FluentValidator TValidator="Application.Categories.Common.CategoryValidator"></UIComponents.FluentValidator>
        <Field Label="Description">
            <ControlContent>
                <TextField @bind-Value="Category.Description" ></TextField>
            </ControlContent>
            <ValidationContent>
                <ValidationMessage For="@(()=> Category.Description)"></ValidationMessage>
            </ValidationContent>
        </Field>
        <Field class="has-width-50" Label="Colour">
            <ControlContent>
                <TextField @bind-Value="Category.Colour" Type="color"></TextField>
            </ControlContent>
            <ValidationContent>
                <ValidationMessage For="@(()=> Category.Colour)"></ValidationMessage>
            </ValidationContent>
        </Field>
        <Field>
            <ControlContent>
                <Button class="is-pulled-right" Colour="ComponentColour.Success" Type="submit">Save</Button>
            </ControlContent>
        </Field>
    </EditForm>
</div>