@inherits CategoryFormBase

<div class="box">
    <EditForm Model="Category" OnValidSubmit="SaveForm">
        <UIComponents.FluentValidator TValidator="PlannerApp.Shared.Validators.CategoryValidator"></UIComponents.FluentValidator>
        <Field Label="Description">
            <ControlContent>
                <TextField @bind-Value="Category.Description" ></TextField>
            </ControlContent>
            <ValidationContent>
                <ValidationMessage For="@(()=> Category.Description)"></ValidationMessage>
            </ValidationContent>
        </Field>
        <Field CssClass="has-width-50">
            <ControlContent>
                <TextField @bind-Value="Category.Colour"></TextField>
            </ControlContent>
            <ValidationContent>
                <ValidationMessage For="@(()=> Category.Colour)"></ValidationMessage>
            </ValidationContent>
        </Field>
        <Field>
            <ControlContent>
                <Button CssClass="is-pulled-right" Colour="ComponentColour.Success" Type="submit">Save</Button>
            </ControlContent>
        </Field>
    </EditForm>
</div>