@inherits PlannerItemFormBase

<EditForm Model="Item" OnValidSubmit="OnValidCallback">
    <Field>
        <FieldLabel>Description</FieldLabel>
        <TextEdit @bind-Text="Item.Description" />
        <ValidationMessage For="@(()=> Item.Description)"></ValidationMessage>
    </Field>
    <Fields>
        <Field>
            <FieldLabel>From</FieldLabel>
            <DateInput name="PlannedActionDate" @bind-Value="Item.PlannedActionDate"></DateInput>
            <ValidationMessage For="@(() => Item.PlannedActionDate)"></ValidationMessage>
        </Field>
        <Field>
            <FieldLabel>Until</FieldLabel>
            <DateInput name="PlannedEndTime" @bind-Value="Item.PlannedEndTime"></DateInput>
            <ValidationMessage For="@(() => Item.PlannedEndTime)"></ValidationMessage>
        </Field>
    </Fields>
    <Field>
        <Select SelectedValue="Item.CategoryID.GetValueOrDefault(-1)" @onchange="SetCategory">
            <SelectItem Value="-1"></SelectItem>
            @foreach (var category in Categories)
            {
                <SelectItem Value="category.ID">@category.Description</SelectItem>
            }
        </Select>
    </Field>
    <Field>
        <Button Class="is-pulled-right" Color="Color.Success" Type="ButtonType.Submit" id="saveChangesBtn">Update</Button>
    </Field>
</EditForm>