@inherits CardBase

<div  @attributes="AdditionalAttributes" class="card @CssClass">
    @if (CardHeader != null)
    {
        <div class="card-header">
            @CardHeader
        </div>
    }
    @CardContent
    @if (ChildContent != null)
    {
        <div class="card-content">
            @ChildContent
        </div>
    }
    @if (CardFooter != null)
    {
        <div class="card-footer">
            @CardFooter
        </div>
    }
</div>