@inherits FieldBase
<div class="field @CssClass">
    <CascadingValue Value="this">
        @if (!string.IsNullOrEmpty(Label))
        {
            <label class="label">@Label</label>
        }
        @ControlContent
        @if (ChildContent != null)
        {
            <div class="control">
                @ChildContent
            </div>
        }
        @if (ValidationContent != null)
        {
            <p class="help @(isFieldValid ? "" : "is-danger")">
                @ValidationContent
            </p>
        }
    </CascadingValue>
</div>