@inherits FieldBase
<div class="field @CssClass">
    <CascadingValue Value="this">
        @if (!string.IsNullOrEmpty(Label))
        {
            <label class="label">@Label</label>
        }
        <div class="control">

            @ControlContent
            @ChildContent

        </div>
        @if (ValidationContent != null)
        {
            <p class="help @(isFieldValid ? "" : "is-danger")">
                @ValidationContent
            </p>
        }
    </CascadingValue>
</div>