@typeparam TValType
@inherits SelectFieldBase<TValType>
    <div class="control @ControlClass">
        <div class="select @CssClass">
            <select @onchange="HandleSelectChange" value="@(CurrentValue)" name="@FieldIdentifier.FieldName" @attributes="AdditionalAttributes">
                <CascadingValue TValue="TValType" Value="CurrentValue">
                    @ChildContent
                </CascadingValue>
            </select>
        </div>
    </div>