@using Microsoft.AspNetCore.Components.Forms
@inherits TextFieldBase

<div class="control">
        <input name="@(FieldIdentifier.FieldName)" @attributes="AdditionalAttributes" type="@Type" @bind="CurrentValue" class="@("input " + CssClass)">
</div>