.sheet {
  color: inherit;
  background-color: whitesmoke;
  transition: transform .2s linear;
  transform: scaleX(0);
  transform-origin: right;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 5px 10px;
  z-index: 4;
  min-width: 200px; }
  .sheet__background {
    z-index: 3;
    background-color: rgba(10, 10, 10, 0.76);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed; }
  .sheet--open {
    transform: scaleX(1); }
  .sheet__label {
    font-size: 1.3rem;
    margin-bottom: 5px; }
  .sheet__item {
    margin-bottom: 5px; }
