@mixin circle($size){
    border-radius: 50%;
    height: $size;
    width: $size;
}

@mixin flex-center($direction: "row") {
   display: flex;
   flex-direction: $direction;
   align-items: center;
   justify-content: center;
}