 @inherits LoginFormBase
@using Application.Accounts.Commands.SignInUser

<div class="box">
    <h1 class="title is-5">Welcome back,</h1>
    <h2 class="subtitle is-5 has-text-grey-light">sign in to continue.</h2>
    <EditForm id="loginForm" Model="LoginModel" OnValidSubmit="LogInToAccount">
        <UIComponents.FluentValidator TValidator="SignInUserModelValidator"></UIComponents.FluentValidator>
        <Field Label="Email Address">
            <ControlContent>
                <TextField @bind-Value="LoginModel.Email"></TextField>
            </ControlContent>
            <ValidationContent>
                <ValidationMessage For="() => LoginModel.Email"></ValidationMessage>
            </ValidationContent>
        </Field>
        <Field Label="Password">
            <ControlContent>
                <TextField @bind-Value="LoginModel.Password" Type="password"></TextField>
            </ControlContent>
            <ValidationContent>
                <ValidationMessage For="() => LoginModel.Password"></ValidationMessage>
            </ValidationContent>
        </Field>
        <Field class="has-text-centered has-padding-top-20">
            <Button Type="submit"class="has-width-200" Colour="ComponentColour.Success">Sign In</Button>
            <div class="has-padding-10">or</div>
            <Button class="has-width-200 is-outlined" Colour="ComponentColour.Primary" OnClickCallback="GoToRegisterAction">Sign Up</Button>
        </Field>
    </EditForm>
</div>