@import 'node_modules/bulma/sass/utilities/mixins';

.day-planner {
    max-width: 900px;
    margin: 0 auto;

    &__title {
        padding-bottom: 20px;
    }

    &__interval {
        display: flex;
        font-size: .75rem;
        padding: 10px 0;
        border-bottom: 1px solid $grey-lightest;
    }

    &__time-display {
        min-width: 100px;

        @include from($tablet) {
            margin-right: 50px;
        }
    }

    &__entries {
        flex-grow: 1;
    }
}
