@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <a class="nav__button" href="authentication/signout">Sign out</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav__button" href="authentication/register">Register</a>
        <a class="nav__button" href="authentication/signin">Sign In</a>
    </NotAuthorized>
</AuthorizeView>
