@inherits LayoutComponentBase
@using PlannerApp.Client.Shared.Navigation
 
<NavMenu></NavMenu>
<UIComponents.Custom.SheetComponent.Sheet></UIComponents.Custom.SheetComponent.Sheet>
<div class="body-content">
    @Body
</div>
<NavBottom></NavBottom>
<UIComponents.Bulma.Modal.Modal></UIComponents.Bulma.Modal.Modal>

@code {
    protected override void OnInitialized()
    {
        
        base.OnInitialized();
    }
}