@inherits LayoutComponentBase


<NavMenu></NavMenu>
<div class="body-content">
    @Body
</div>
<UIComponents.Bulma.Modal.Modal></UIComponents.Bulma.Modal.Modal>

@code {
    protected override void OnInitialized()
    {
        
        base.OnInitialized();
    }
}