@inherits LayoutComponentBase


<NavMenu></NavMenu>
<div class="body-content">
    @Body
</div>

<Modal></Modal>

@code {
    protected override void OnInitialized()
    {
        
        base.OnInitialized();
    }
}