@inherits NavMenuBase

<nav class="nav">
    <div class="nav__body">
        <div class="nav__toggle icon" role="button">
            <i class="fas fa-bars" aria-hidden="true"></i>
        </div>
        <div class="nav__title">@((MarkupString)Title)</div>
        <div class="nav__spacer" aria-hidden="true"></div>
        <div class="nav__buttons">
            @if (IsUserAuthenticated.HasValue)
            {
                if (IsUserAuthenticated.Value)
                {
                    <a class="nav__button @CheckButtonClassActiveStatus("")" href="/">Home</a>
                    <a class="nav__button @CheckButtonClassActiveStatus("Calendar")" href="/Calendar">Calendar</a>
                }
                <LoginDisplay></LoginDisplay>
            }
        </div>
        @if (SheetParams != null)
        {
            <div class="nav__sheet-button icon" role="button" @onclick="ShowSheet">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        }
    </div>
    @*If empty string, still render footer in case desired look is empty footer, otherwise collapse footer*@
    @if (SubTitle != null)
    {
        <div class="nav__footer">
            <div class="nav__left-foot">
                @((MarkupString)SubTitle)
            </div>

        </div>
    }
</nav>

