@inherits NavMenuBase

<nav class="nav">
    <div class="nav__title">@Title</div>
    <div class="nav__spacer"></div>
    <div class="nav__buttons">
        <a class="nav__button @CheckButtonClassActiveStatus("")" href="/">Home</a>
        <a class="nav__button @CheckButtonClassActiveStatus("Day")" href="/Day">Schedule</a>
        <a class="nav__button @CheckButtonClassActiveStatus("Calendar")" href="/Calendar">Calendar</a>
        <LoginDisplay></LoginDisplay>
    </div>
    <div class="nav__footer">

    </div>
</nav>

